/*reset and base*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Press start 2p', monospace;
background: #050510;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 1rem;
}